.nerds_cf--content,
.nerds_cf--style {
  min-height: 10rem;
  background: white;
  box-shadow: 1px 1px 2px black inset;
  padding: 0.5rem;
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 1rem;
  white-space: pre-line;
}
.nerds_cf--list {
  float: left;
}
.nerds_cf--form {
  float: right;
  width: 40rem;
  padding-top: 1rem;
}
.nerds_cf--alias {
  font-size: 1.5rem;
  margin-bottom: 1rem !important;
  width: 100% !important;
  display: block;
  float: left;
}
.nerds_cf--inputs {
  width: 100%;
  float: left;
}
#new_cf {
  float: left;
  clear: left;
}
.nerds_cf--form h2 {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto 1rem;
}
.nerds_cf--form input,
.nerds_cf--form button,
.nerds_cf--form textarea {
  float: left;
}
.nerds_cf--form textarea {
  width: 100%;
  margin-bottom: 1rem;
  font-family: monospace;
  white-space: pre-line;
}
.nerds_cf--form input,
.nerds_cf--form label {
  width: 50%;
  margin: 0;
  box-sizing: border-box;
  float: left;
  height: 2rem;
  line-height: 2rem;
}
.nerds_cf--form label {
  text-align: right;
  padding: 0 1rem;
}
.nerds_cf--iframe {
  width: 100%;
  float: left;
  overflow: scroll;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid rgba(0,0,0,0.5);
}
input.nerds_cf--confirmation {
  width: 100%;
  margin-bottom: 1rem;
}
