* {
  box-sizing: border-box;
}
@font-face {
     font-family: 'CC Wild Words Roman';
     src: url('/wp-content/themes/nerdsoncall/assets/fonts/cc_wild_words_roman-webfont.eot');
     src: url('/wp-content/themes/nerdsoncall/assets/fonts/cc_wild_words_roman-webfont.eot?#iefix') format('embedded-opentype'),
            url('/wp-content/themes/nerdsoncall/assets/fonts/cc_wild_words_roman-webfont.woff') format('woff'),
            url('/wp-content/themes/nerdsoncall/assets/fonts/cc_wild_words_roman-webfont.ttf') format('truetype'),
            url('/wp-content/themes/nerdsoncall/assets/fonts/cc_wild_words_roman-webfont.svg#cc_wild_wordsroman') format('svg');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'CC Zoinks';
     src: url('/wp-content/themes/nerdsoncall/assets/fonts/cc_zoinks_medium-webfont.eot');
     src: url('/wp-content/themes/nerdsoncall/assets/fonts/cc_zoinks_medium-webfont.eot?#iefix') format('embedded-opentype'),
            url('/wp-content/themes/nerdsoncall/assets/fonts/cc_zoinks_medium-webfont.woff') format('woff'),
            url('/wp-content/themes/nerdsoncall/assets/fonts/cc_zoinks_medium-webfont.ttf') format('truetype'),
            url('/wp-content/themes/nerdsoncall/assets/fonts/cc_zoinks_medium-webfont.svg#cc_zoinksmedium') format('svg');
     font-weight: normal;
     font-style: normal;
}
body,
html {
  padding: 0;
  margin: 0;
}
form {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  overflow: hidden;
}

label {
  float: left;
  font-family: CC Wild Words Roman;
  font-size: 0.7rem;
  border-style: solid;
  border-color: black;
  border-width: 2px 2px 0 2px;
  padding: 4px 0.5rem 0px calc(0.5rem - 1px);
  margin-bottom: -4px;
  margin-left: 1rem;
  z-index: 9;
  position: relative;
  background-color: white;
  color: black;
  box-shadow: -2px 2px 0 rgba(0,0,0,0.8) inset;
}

label:after{
  content: "*";
  color: red;
  position: absolute;
  left: calc(100% + 5px);
  top: 0.1rem;
  text-shadow: -3px 3px 0 rgba(0,0,0,0.8), -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000;
}
label:hover::after {
  animation: type-out-required 0.5s 1;
  animation-fill-mode: forwards;
  /*content: "required";*/
  top: 0;
}


input,
textarea {
  width: 100%;
  border: 2px solid black;
  box-shadow: -2px 2px 0 rgba(0,0,0,0.8) inset;
  min-height: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-family: CC Wild Words Roman;
  float: left;
  padding-left: 0.25rem
}

textarea {
  width: 100%;
  clear: left;
  margin-bottom: 0;
  flex: 1 1 5rem;
}

input[type=submit] {
  width: 8rem;
  float: left;
  box-shadow: -2px 2px 0 rgba(0,0,0,0.8);
  background-color: #ff9900;
  color: white;
  font-size: 1.5rem;
  margin: 0.6rem auto;
  width: auto;
  padding: 0.25rem 1rem;
  font-family: CC Zoinks;
  display: block;
  text-shadow: -3px 3px 0 rgba(0,0,0,0.8), -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000;
  cursor: pointer;
}

input[type=submit]:hover {
  animation: suspense-arrow 2s 1;
  animation-fill-mode: forwards;
}

input[type=submit]:active {
  /*animation: shoot-arrow 10s 1;*/
  animation-fill-mode: forwards;
}

.thank-you {
  font-family: CC Wild Words Roman;
  line-height: 2;
  text-align: center;
}

@keyframes suspense-arrow {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(-0.5rem,0,0);
  }
}

@keyframes shoot-arrow {
  0% {
    transform: translate3d(0,0,0);
    filter: blur(3px);
  }
  1% {
    transform: translate3d(10rem,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

@keyframes type-out-required {
  0% {
    content: "r";
  }
  14% {
    content: "re";
  }
  29% {
    content: "req";
  }
  43% {
    content: "requ";
  }
  58 {
    content: "requi";
  }
  72% {
    content: "requir";
  }
  87 {
    content: "require";
  }
  100% {
    content: "required";
  }

}
